ion-toolbar{
    --background: rgb(190, 34, 34);
  }
  ion-title{
    --color: white;
  }
.container{
    height: 100%;
    width: 100%;
}
.body{
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imgs/background1.png");
  }

.deal1{
    height: 35%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    img{
        margin-top: 15%;
        height: 50%;
        width: 35%;
        margin-left: 60%;
    }
    .caption h1{
        z-index: 111;
        background-color: rgb(190, 34, 34);
        color: white;
        font-size: 24px;
        width: 20%;
        height: 100%;
        text-align: center;
        border: 1px solid;
        border-color: gray;
        margin-bottom: auto;
        margin-top: -40%;
    }
    .caption2 h2{
        background-color: rgb(190, 34, 34);
        z-index: 111;
        color: white;
        font-size: 16px;
        text-align: center;
        width: 25%;
        margin-top: -45%;
        margin-left: auto;
        margin-right: 0%;
    }
    .caption3 p{
        font-size: 14px;
        text-align: left;
        margin-left: 23%;
        margin-bottom: auto;
        margin-top: -5%;
    }

}